.title {
    text-align: center;
}

.side-menu {
    background-color: #f8f9fa;
    height: 100vh;
    padding-top: 20px;
}

.side-menu a {
    text-decoration: none;
    color: #000;
    padding: 10px 15px;
    display: block;
    font-weight: bold;
}

.side-menu a:hover {
    background-color: #e9ecef;
}

.content {
    padding: 0px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

.logo a {
    text-decoration: none;
    color: #000;
    display: block;
    font-weight: bold;
    font-size: 24px;
}

.search-bar {
    flex: 1;
    margin: 0 20px;
}

.main-content {
    display: flex;
    padding: 20px;
}

.products {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pagination-container {
    margin-top: 20px;
    text-align: center;
}

.card {
    width: 18rem;
    height: 400px;
}

.card-img-top {
    height: 250px;
    object-fit: contain;
}

.content-product {
    border: #000 1px solid;
    border-radius: 20px;
    padding: 10px;
    width: 900px;
    align-items: center;
    margin-left: 65px;
    margin-top: 40px;
    justify-items: center;
}

.content-product img {
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.content-product div {
    justify-items: center;
}


body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.container {
    width: 80%;
    margin: 0 auto;
    border: 2px solid green;
    padding: 20px;
    background-color: #fef8e4;
}
.header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.email {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.cell {
    border: 2px solid green;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.footer {
    margin-top: 20px;
    font-size: 14px;
}
.ter{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;   /* Centra verticalmente */ 
}